.banner {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}
.banner__information {
  text-align: center;
  width: 50%;
}
.banner__icon {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border:2px solid white;
  background-color: transparent;
  color : white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner__information__title {
  color : white;
}
.banner__information__subtitle {
  color : #b0b0b0;
}
.banner__information__description {
  margin-top: 20px;
  color: #a0a0a0;
}